@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    /* --border:.1rem solid rgba(255,255,255,.3); */
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding:2rem 7%;
}


.heading{
  text-align: center;
  color:#fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

.heading span{
  color:var(--main-color);
  text-transform: uppercase;
}

.btn{
  margin-top: 1rem;
  display: inline-block;
  padding:.9rem 3rem;
  font-size: 1.7rem;
  color:#fff;
  background: var(--main-color);
  cursor: pointer;
}

.btn:hover{
  letter-spacing: .2rem;
}

.header{
  background: var(--bg);
  display: inherit;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding:3rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top:0; left: 0; right: 0;
  z-index: 1000;
  opacity: 85%;
}

.header .logo img{
  height: 6rem;
}

.header .navbar a{
  margin:0 1rem;
  font-size: 1.6rem;
  color:#fff;
}

.header .navbar a:hover{
  color:var(--main-color);
  border-bottom: .1rem solid var(--main-color);
  padding-bottom: .5rem;
}

.header .icons div{
  color:#fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header .icons div:hover{
  color:var(--main-color);
}

#menu-btn{
  display: none;
}











.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(../img/background.jpg) no-repeat;
    background-position: center;
  background-size: cover;
  position: relative;
    
}

.home .content{
    max-width: 60rem;
}

.home .content h2{
    font-size: 6rem;
    text-transform: uppercase;
    color:#fff;
}

.home .content h3{
    font-size: 3rem;
    color:#fff;
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:#eee;
}




.about .row{
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
}

.about .row .content h5{
    font-size: 2.5rem;
    color:#fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
}







.skill .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:1.5rem;
}

.skill .box-container .box{
  padding:5rem;
  text-align: center;
  border:var(--border);    
}

.skill .box-container .box img{
  height: 10rem;
}

.skill .box-container .box h3{
  color: #fff;
  font-size: 3rem;
  padding:1rem 0;
}

.skill .box-container .box .deskripsi_skill{
  color: #fff;
  font-size: 1.5rem;
  padding:.5rem 0;
}

.skill .box-container .box .deskripsi_skill span{
  font-size: 1.5rem;
  text-decoration: line-through;
  font-weight: lighter;
}

.skill .box-container .box:hover{
  background:#d3ad7f;
}


.skill .box-container .box:hover > *{
  color:var(--black);
  filter:brightness(-1000%);
}




.resume {
  position: relative;
  margin: 40px auto;
  width: 1024px;
  max-width: 100%;
  overflow: hidden;
  padding-top: 10px;
  margin-bottom: 60px;
}
.resume input {
  position: absolute;
  z-index: 1000;
  width: 25%;
  height: 50px;
  left: 0;
  top: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  cursor: pointer;
  margin: 0;
}
.resume input#layar-2 {
  left: 25%;
}
.resume input#layar-3 {
  left: 50%;
}
.resume input#layar-4 {
  left: 75%;
}

.resume label {
  /* background: #3f6b9d; */
  color: #d3ad7f;
  font-size: 15px;
  line-height: 50px;
  height: 60px;
  position: relative;
  top: 0;
  padding: 0 20px;
  float: left;
  display: block;
  width: 50%;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  -webkit-transition: all 150ms ease 0s;
  transition: all 150ms ease 0s;
}
.resume label:hover {
  cursor: pointer;
  color: #d3ad7f;
}

.resume label:after {
  content: "";
  background: #d3ad7f;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  display: block;
}

.resume input:hover + label {
  background: #d3ad7f;
  color: #000;
}

.resume label:first-of-type {
  z-index: 4;
}

.layar-label-2 {
  z-index: 4;
}

.layar-label-3 {
  z-index: 3;
}

.layar-label-4 {
  z-index: 2;
}

.resume input:checked + label {
  background: #d3ad7f;
  color: #000;
  z-index: 6;
}

.clear-shadow {
  clear: both;
}

.isi {
  height: auto;
  width: 100%;
  float: left;
  position: relative;
  z-index: 5;
  background: #d3ad7f;
  top: -10px;
  box-sizing: border-box;
}
.isi div {
  position: relative;
  float: left;
  width: 0;
  height: 0;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  background: #d3ad7f;
}
.isi div h2 {
  margin-top: 0;
}

.resume .layar-selector-1:checked ~ .isi .isi-1,
.resume .layar-selector-2:checked ~ .isi .isi-2,
.resume .layar-selector-3:checked ~ .isi .isi-3,
.resume .layar-selector-4:checked ~ .isi .isi-4 {
  z-index: 100;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  width: 100%;
  height: auto;
  width: 100%;
  height: auto;
  padding: 5%;
}

.isi div h2 {
  color: #000;
  font-size: 18px; 
}

.isi div h1 {
  color: #000;
  font-size: 17px;
}

.isi div p {
  font-size: 16px;
  line-height: 22px;
  font-style: italic;
  text-align: left;
  margin: 0;
  color: #000;
  padding-left: 15px;
  border-left: 8px solid rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .resume input:checked + label {
    top: -5px;
  }
}
@media screen and (max-width: 767px) {
  .resume {
    height: auto;
    padding-bottom: 200px;
    width: 95%;
  }
  .resume label {
    text-align: center;
  }
  .resume input:checked + label {
    padding-left: 30px;
    text-align: center;
  }
  .resume label, .resume input {
    width: 100%;
    position: absolute;
  }
  .resume label.layar-label-1, .resume label#layar-1, .resume input.layar-label-1, .resume input#layar-1 {
    width: 50%;
    top: 100px;
    left: 0;
    height: 50px;
    z-index: 4 !important;
  }
  .resume label.layar-label-2, .resume label#layar-2, .resume input.layar-label-2, .resume input#layar-2 {
    width: 50%;
    top: 100px;
    left: +50%;
    height: 50px;
    z-index: 3 !important;
  }
 
  .resume .isi {
    top: 100px;
  }
}











.wrapper{
    margin: 100px auto;
    max-width: 1100px;
  }
  .wrapper nav{
    display: flex;
    justify-content: center;
  }
  .wrapper .items{
    display: flex;
    max-width: 720px;
    width: 100%;
    justify-content: space-between;
  }
  .items span{
    padding: 7px 25px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    color: #d3ad7f;
    border-radius: 50px;
    border: 2px solid #d3ad7f;
    transition: all 0.3s ease;
  }
  .wrapper p{
   color: #d3ad7f;
   text-align: center;
   margin: 2% 10%;
   font-size: 15px;
  }
  .items span.active,
  .items span:hover{
    color: #010103;
    background: #d3ad7f;
  }
  
  .gallery{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .gallery .image{
    width: calc(100% / 3);
    padding: 7px;
  }
  .gallery .image span{
    display: flex;
    width: 100%;
    overflow: hidden;
  }
  .gallery .image img{
    width: 100%;
    vertical-align: middle;
    transition: all 0.3s ease;
  }
  .gallery .image video{
    width: 100%;
    height: 50%;
    vertical-align: middle;
    transition: all 0.3s ease;
  }
  .gallery .image:hover img{
    transform: scale(1.1);
  }
  .gallery .image.hide{
    display: none;
  }
  .gallery .image.show{
    animation: animate 0.4s ease;
  }
  @keyframes animate {
    0%{
      transform: scale(0.5);
    }
    100%{
      transform: scale(1);
    }
  }
  
  .preview-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: #fff;
    max-width: 700px;
    width: 100%;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    padding: 0 5px 5px 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  }
  .preview-box.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
  }
  .preview-box .details{
    padding: 13px 15px 13px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .details .title{
    display: none;
    font-size: 18px;
    font-weight: 400;
  }
  .details .title p{
    font-weight: 500;
    margin-left: 5px;
  }
  .details .icon{
    color: #d3ad7f;
    font-style: 22px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 0;
  }
  .preview-box .image-box{
    width: 100%;
    display: flex;
  }
  .image-box img{
    width: 100%;
    border-radius: 0 0 3px 3px;
  }
  .shadow{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    background: rgba(0,0,0,0.4);
  }
  .shadow.show{
    display: block;
  }
  
  @media (max-width: 1000px) {
    .gallery .image{
      width: calc(100% / 3);
    }
  }
  @media (max-width: 800px) {
    .gallery .image{
      width: calc(100% / 2);
    }
  }
  @media (max-width: 700px) {
    .wrapper nav .items{
      max-width: 600px;
    }
    nav .items span{
      padding: 7px 15px;
    }
  }
  @media (max-width: 600px) {
    .wrapper{
      margin: 30px auto;
    }
    .wrapper nav .items{
      flex-wrap: wrap;
      justify-content: center;
    }
    nav .items span{
      margin: 5px;
    }
    .gallery .image{
      width: 100%;
    }
  }
  











.contact .row{
    display: flex;
    background:var(--black);
    flex-wrap: wrap;
    gap:1rem;
}

.contact .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:#fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border:var(--border);
}

.contact .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
}




.footer{
  background:var(--black);
  text-align: center;
}

.footer .share{
  padding:1rem 0;
}

.footer .share a{
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color:#fff;
  border:var(--border);
  margin:.3rem;
  border-radius: 50%;
}

.footer .share a:hover{
  background-color: var(--main-color);
  color: #010103;
}

.footer .credit{
  font-size: 2rem;
  color:#fff;
  font-weight: lighter;
  padding:1.5rem;
}

.footer .credit span{
  color:var(--main-color);
}










/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding: 5rem 2rem;
    }

}

@media (max-width:768px){

  #menu-btn{
      display: inline-block;
  }
  .header .icons {
    display: table;
   margin-left: auto;
  }

  .header .navbar{
      position: absolute;
      top:100%; right: -100%;
      background: #fff;
      width: 30rem;
      height: 100vh;
      
  }

  .header .navbar.active{
      right:0;
  }

  .header .navbar a{
      color:var(--black);
      text-align: initial;
      display: block;
      margin:1.5rem;
      padding:.5rem;
      font-size: 2rem;
  }


  

  .home{
      justify-content: center;
      text-align: center;
      background-position: center;
  background-size: cover;
  position: relative;
  }

  .home .content h3{
      font-size: 4.5rem;
  }

  .home .content p{
      font-size: 1.5rem;
  }

}

@media (max-width:450px){

  html{
      font-size: 50%;
  }

}
